@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body
{
    /* background-color: #9eeaf9;
    border: 1px;
    border-radius: 1%; */
    background-image: linear-gradient(#032830, #0aa2c0,#9eeaf9);
    height: 700px;
}
.logo
{
    animation: mymove 4s infinite;
    animation-timing-function: ease-in;
    position: relative;
    left: 40px;
    top: 30px;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 40px;}
}
.location
{
    position:absolute;
    left: 30%;
    top: 5%;
    width: 50%;
    /* box-shadow: 2px 2px 2px rgb(2, 82, 108); */
    /* box-shadow: 2px 2px 20px 2px #485766; */
    box-sizing: content-box;
}

.search
{
    position:absolute;
    left: 60%;
    top: 5%;
    width: 50%;    
    /* box-shadow: 2px 2px 2px 2px rgb(2, 82, 108); */
    /* box-shadow: 2px 2px 20px 2px #485766; */
    box-sizing: content-box;
}
.flex-container {
    /* box-shadow: 2px 2px 20px 2px #00f7ff; */
    margin-left: 5%;
    margin-right: 5%;
    height: 180px;
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  
    /* background-color: #0aa2c0 ; */
  }
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    /* justify-content: space-around; */
  }
  .category
  {
    box-shadow: 5px 5px 10px 5px rgb(255, 255, 255);
  }
  figcaption
  {
    margin-top: 3px;
    font-size: large;
    font-weight: 500;
    text-align: center;
    font-family: Poppins;
  }
  h2
  {
    color: white;
    text-align: center;
    font-family: Poppins;
  }
