@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        body {
            font-family: "Poppins";
            /* font-family: "Poppins"; */
            background-image: url('blur1.jpg');
            background-repeat: repeat-y;
            /* background-position-y: 80%; */
            /* background-position-x: -5%; */
            background-size: cover;
            z-index: 2;
        }

        .span1 {
            display: inline-block;
        }

        .div1 {
            display: flex;
            align-items: center;
            margin: 10px;
            padding-top: 18px;
            padding-left: 18px;
            border: 1px solid black;
            border-radius: 10px;
            color: black;
            /* padding-bottom: -10px; */
        }

        #img1 {
            margin-right: 50px;
        }

        #det {
            text-align:left;
        }

        #name
        {
            text-align: left;
        }
        .head1{
            text-align: left;
        }